li.active a {
  display: block;
  padding: 15px 20px;
  text-align: center;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.nav-tabs {
  border: none !important;
}
.terms {
  display: inline-flex;
}

.profile-dropdown .btn-secondary {
  color: #000 !important;
  background: #fff !important;
  border: none !important;
  font-size: 20px !important;
}

.profile-dropdown .btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none !important;
}

.dropdown-menu-right {
  border-radius: 0px !important;
  text-align: right !important;
  min-width: 9rem !important;
  transform: translate3d(-110px, 40px, 0px) !important;
}

.dropdown-divider {
  margin: 0.3rem 0 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #efefef !important;
  color: #000 !important;
}

.edit-option-list ul li a {
  font-size: 14px !important;
  text-align: left !important;
}

.modal-profile .modal-content {
  text-align: center !important;
}

.modal-post .modal-content {
  text-align: center !important;
}
.modal-post .modal-body {
  max-height: 450px;
  overflow-y: auto;
}

.modal-header {
  border-bottom: none !important;
}

.usersearchProfile {
  border-radius: 50%;
}

.seeAll {
  margin-right: 5px;
  float: right;
  color: #419ae8;
}

.head-search-result-box {
  width: 100%;
}
.no-record {
  padding: 10px;
  text-align: center;
}

.f-a {
  font-size: 20px !important;
  color: #666666;
}

.classerr {
  color: red;
}

.trans-log {
  color: #419ae8 !important;
  font-weight: 500;
}

._loading_overlay_overlay {
  margin-top: 15%;
}

footer {
  position: fixed !important;
}

.viewalltrans {
  float: right;
}

.carousel-item {
  text-align: center;
}

.carousel-control-prev {
  border: 0;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  background-color: #999999;
  top: 50%;
  margin-top: -15px;
  outline: none !important;
  cursor: pointer;
  border-radius: 100%;
  color: #fff;
  margin-left: 10px;
}

.carousel-control-next {
  border: 0;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  background-color: #999999;
  top: 50%;
  margin-top: -15px;
  outline: none !important;
  cursor: pointer;
  border-radius: 100%;
  color: #fff;
  margin-right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding-top: 28px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 10px !important;
}
.likes-popup-list-box {
  margin-top: 0px !important;
}
.likeModal .modal-content {
  width: 400px !important;
  border-radius: 10px !important;
}
.likeModal .modal-header {
  border-bottom: 1px solid #d2d2d2 !important;
  text-align: center !important;
}
.likeModal .modal-title {
  font-weight: 400;
}
.profileDesc {
  white-space: pre-wrap;
}
.m-t-10 {
  margin-top: 10px;
}
.sub_follow {
  margin-left: 25%;
  top: 33px !important;
}
.resetpassform {
  margin-bottom: 8% !important;
}

.edit-profile-avtar-text {
  text-align: left;
}

.EditprofileModal .modal-body {
  text-align: center;
}

.user-editprofile {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .sub_follow {
    margin-left: 20% !important;
  }
}

.carousel-item img {
  width: 500px;
  height: 500px !important;
}

.fa-heart {
  color: red;
  border-color: red;
}
.likeposticon {
  color: black !important;
}

.fa-lock {
  color: #fff !important;
  font-size: 50px !important;
}

.align-center {
  text-align: center;
}

.modal-post .modal-footer {
  display: list-item !important;
}

.likeModal .modal-body {
  max-height: 350px;
  overflow-y: auto;
}

.overlay-lock-content .btn-custom a {
  color: black !important;
}
